{% load staticfiles i18n %}
<!DOCTYPE html>
<html>

<head>
    {% block meta_tags %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <title>
        {% block title %}{% trans "Clinic" %}{% endblock %}
    </title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />
    {% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body>
	<div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="header clearfix">
          <h3 class="text-muted">
            <a href="/">{{ _('Clinic') }}</a>
          </h3>
          <p>{{ _('Acupuncture orthopedic clinic reservation') }}
          {% block header_title %}- {{ _('Select store') }} {% endblock %}</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-8 text-right">
        {% include 'home/includes/_navigation.html' %}
      </div>
    </div>
		
	</div>

	<div class="container">
    {% block alert %} {% endblock %}
		{% block content %} {% endblock %}
	</div>

  <footer class="footer">
    <div class="container">
        (c) All Rights Reserved.
        [株式会社 XXX の運営サイト]
    </div>
  </footer>

    {% block javascript %}
      <script src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
      <script src="{% static "javascripts/app.js" %}"></script>
    {% endblock %}
</body>

</html>
