{% extends "home/_base.html" %}

{% block header_title %}
  {{ store.name }}{{ _('Orthopedic clinic reservation contents input') }}
{% endblock %}

{% block alert %}
  {% if success %}
    <div class="alert alert-success">{{ success }}</div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if not get_error %}
      <form id="reserve-form" class="form-horizontal" action="" method="post"> {% csrf_token %}
        <fieldset>
          <table class="table table-bordered">
            <!-- 予約日時-->
            <tr>
                <th>予約日時</th>
                <td colspan="3">
                  {{ date|date:"Y年m月d日（D）　" }}
                  {{ hour|stringformat:"02d:00-" }}
                </td>
            </tr>

              <!-- 氏名・電話番号-->
            <tr>
                <th>氏名</th>
                <td class="clear-xs">
                  {{ form.name.errors }}
                  {{ form.name }}
                </td>

                <th>電話番号</th>
                <td>
                  {{ form.phone.errors }}
                  {{ form.phone }}
                </td>
            </tr>

              <!-- 連絡先-->
              <tr>
                <th>連絡先</th>
                <td colspan="3">
                  {{ form.email.errors }}
                  {{ form.email }}
                </td>
              </tr>

              <!-- Message body -->
              <tr>
                <th>症状など</th>
                <td colspan="3">
                  {{ form.symptom }}
                </td>
              </tr>
          </table>
          <!-- Form actions -->
          <div class="form-group">
            <div class="text-center">
              <input type="submit" id="btn-submit" {% if error or success %} disabled {% endif %} class="btn btn-lightblue btn-default" value="予約">
              <a href="{% url 'store-schedule' store.id %}?back_url={{back_home_url|urlencode}}&start_day={{ date|date:"d/m/Y" }}" class="btn btn-lightblue btn-default">戻る</a>
            </div>
          </div>
        </fieldset>
      </form>
  {% endif %}
{% endblock %}
