{% extends "home/_base.html" %}

{% block alert %}
  {{ get_error }}
  {{ error }}
  {{ success }}
{% endblock %}

{% block content %}
  {% if not get_error %}
  <div class="container">
      <form id="reserve-form" class="form-horizontal" action="" method="post"> {% csrf_token %}
        <fieldset>
        <legend class="text-center">予約内容入力</legend>
          <table class="table table-bordered">
            <!-- 予約日時-->
            <tr>
                <th>予約日時</th>
                <td colspan="3">
                  {{ date|date:"Y年m月d日(D)" }} &#160;
                  {{ hour|stringformat:"02d:00-" }}
                  <input id="store" name="store" type="hidden" value="{{ store }}" />
                  <input id="date" name="date" type="hidden" value="{{ date|date:"Ymd" }}" />
                  <input id="hour" name="hour" type="hidden" value="{{ hour }}" />
                </td>
            </tr>

              <!-- 氏名・電話番号-->
            <tr>
                <th>氏名</th>
                <td class="clear-xs">
                  <input id="name" name="name" type="text" placeholder="氏名" class="form-control" value="{{ name }}">
                </td>

                <th>電話番号</th>
                <td>
                  <input id="phone" name="phone" type="text" placeholder="電話番号" class="form-control" value="{{ phone }}">
                </td>
            </tr>

              <!-- 連絡先-->
              <tr>
                <th>連絡先</th>
                <td colspan="3">
                  <input id="email" name="email" type="text" placeholder="連絡先" class="form-control" value="{{ email }}">
                </td>
              </tr>

              <!-- Message body -->
              <tr>
                <th>症状など</th>
                <td colspan="3">
                  <textarea class="form-control" id="symptom"
                            name="symptom" placeholder="症状などをご入力ください"
                            rows="5">{{ symptom }}</textarea>
                </td>
              </tr>
          </table>
          <!-- Form actions -->
            <div class="form-group">
              <div class="text-center">
                <input type="submit" id="btn-submit" class="btn btn-lightblue btn-default" value="予約">
                <a href="{% url 'store-schedule' store %}" class="btn btn-lightblue btn-default">戻る</a>
              </div>
            </div>
        </fieldset>
      </form>
  </div>
  {% endif %}
{% endblock %}
