{% extends "home/_base.html" %}

{% block content %}
  <table id="reserve-table" class="table table-bordered text-center">
    <thead>
      <tr>
        <th rowspan="2">前週</th>
        <th class="colspan-xs7-sm14" colspan="14">2016年1月</th>
        <th rowspan="2">翌週</th>
      </tr>
      <tr>
        <th>04<br>月</th>
        <th>05<br>火</th>
        <th>06<br>水</th>
        <th>07<br>木</th>
        <th>08<br>金</th>
        <th class="color-saturday">09<br>土</th>
        <th class="color-holiday">10<br>日</th>
        <th class="color-holiday hidden-xs">11<br>月</th>
        <th class="hidden-xs">12<br>火</th>
        <th class="hidden-xs">13<br>水</th>
        <th class="hidden-xs">14<br>木</th>
        <th class="hidden-xs">15<br>金</th>
        <th class="color-saturday hidden-xs">16<br>土</th>
        <th class="color-holiday hidden-xs">17<br>日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>09:00</th>
        <td class="date-available">○</td>
        <td class="date-available" class="">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <th>09:00</th>
      </tr>

      <tr>
        <th>10:00</th>
        <td class="">×</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <th>10:00</th>
      </tr>

      <tr>
        <th>11:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <th>11:00</th>
      </tr>

      <tr>
        <th>12:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <th>12:00</th>
      </tr>

      <tr>
        <th>13:00</th>
        <td class="">－</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <th>13:00</th>
      </tr>


      <tr>
        <th>14:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <th>14:00</th>
      </tr>


      <tr>
        <th>15:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <th>15:00</th>
      </tr>


      <tr>
        <th>16:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <th>16:00</th>
      </tr>


      <tr>
        <th>17:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <th>17:00</th>
      </tr>


      <tr>
        <th>18:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <th>18:00</th>
      </tr>

      <tr>
        <th>19:00</th>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="date-available">○</td>
        <td class="">－</td>
        <td class="">－</td>
        <td class="hidden-xs">－</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="date-available hidden-xs">○</td>
        <td class="hidden-xs">－</td>
        <td class="hidden-xs">－</td>
        <th>19:00</th>
      </tr>

    </tbody>
  </table>
{% endblock %}
