{% extends "home/_base.html" %}
{% load staticfiles i18n %}
{% load filters %}
{% load format_date %}

{% block content %}

  <table id="reserve-table" class="table table-bordered text-center">
    <thead>
      <tr>
        <th rowspan="2" id="prev_week_btn" class="navigate-week-btn"
          data-url="{% url 'store-schedule' store.id  %}?start_day={{prev_2_weeks|date:'d/m/Y'}}&direction=prev">{{ _('Prev week') }}</th>
        <th class="colspan-xs7-sm14 day-title" colspan="14">
          {% if start_day.month != end_day.month %}
            {{start_day.year}}{{_(' Year ')}}{{start_day.month}}{{_(' Month ')}} - {{end_day.year}}{{_(' Year ')}}{{end_day.month}}{{_(' Month ')}}
          {% else %}
            {{start_day.year}}{{_(' Year ')}}{{start_day.month}}{{_(' Month ')}}
          {% endif %}
        </th>
        <th rowspan="2" id="next_week_btn" class="navigate-week-btn"
            data-url="{% url 'store-schedule' store.id  %}?start_day={{next_2_weeks|date:'d/m/Y'}}&direction=next">{{ _('Next week') }}</th>
      </tr>
      <tr>
        {% for week_day in days_range %}
          {% with t=week_day|format_date:"%A"|slice:'2' full_date=week_day|date:"d/m/Y" holidays=schedule|get_item:"holiday"%}
            {% with holiday=holidays|get_item:full_date %}
              <th class="time-slot
              {% if t == 'Sa' %}color-saturday{% endif %}
              {% if t == 'Su' or holiday %}color-holiday{% endif %}
              {% if forloop.counter0 < 7 %}week-1{% else %}week-2{% endif %}">
                {{week_day.day}}{% if week_day.day == 1 and forloop.counter0 > 0%}<sub>/{{end_day.month}}</sub>{% endif %}
                <br>
                {% trans t %}
              </th>
            {% endwith %}
          {% endwith %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in time_range %}
        <tr>
          <th>{{ i|stringformat:"02d" }}:00</th>
          {% for day in days_range %}
            {% with d=day|date:"d/m/Y" t=i|stringformat:"01d" url_date=day|date:"Ymd"%}
              {% with data=schedule|get_item:t %}
                {% with detail=data|get_item:d %}
                  {% if detail == None %}
                    <td class="time-slot not-open {% if forloop.counter0 < 7 %}week-1{% else %}week-2{% endif %}">－</td>
                  {% else %}
                    {% with is_booked=detail|get_item:'book' holiday=detail|get_item:'holiday' holiday_available=detail|get_item:'holiday_available' available=detail|get_item:'available' %}
                      {% if is_booked %}
                        <td class="time-slot booked {% if forloop.counter0 < 7 %}week-1{% else %}week-2{% endif %}">×</td>
                      {% else %}
                        {% if holiday and holiday_available or not holiday and available %}
                          <td class="time-slot date-available {% if forloop.counter0 < 7 %}week-1{% else %}week-2{% endif %}" data-url="{% url 'booking' store.id url_date t %}">○</td>
                        {% else %}
                          <td class="time-slot not-open {% if forloop.counter0 < 7 %}week-1{% else %}week-2{% endif %}">－</td>
                        {% endif %}
                      {% endif %}
                    {% endwith %}
                  {% endif %}
                {% endwith %}
              {% endwith %}
            {% endwith %}
          {% endfor %}
          <th>{{ i|stringformat:"02d" }}:00</th>
        </tr>
      {% endfor %}

      </tr>

    </tbody>
  </table>
{% endblock %}
