{% extends "home/_base.html" %}
{% load static i18n clinic_extras %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
	{{ filter.form.media.js }}
{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	{{ filter.form.media.css }}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="panel panel-default panel-clinic">
				<div class="panel-heading text-left">
					<i class="glyphicon glyphicon-search"></i>
					{{ _('Store finder: ') }}
					<span class="helper-text">{{ _('please select the regional or the nearest station') }}</span>
				</div>
				<div class="panel-body">
					<form action="" method="get" class="form-horizontal col-md-8 col-md-offset-2">
						{% for field in filter.form %}
						    <div class="form-group">
						        {{ field.errors }}
						        <label class="col-sm-4 control-label text-right">
						        	{% trans field.label_tag %}
						        </label>
						        <div class="col-sm-8">
						        	{% with input_field=field|addcss:"form-control" %}
						        		{{input_field}}
						        	{% endwith %}
						        </div>
						    </div>
						{% endfor %}
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-8">
									<button type="submit" class="btn btn-default">
										{{ _('Search') }}
									</button>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="store-list">
				{% if filter %} 
				    {% for store in filter %}
				    	<div class="panel panel-default panel-clinic">
				    		<div class="panel-heading store-heading text-left">
				    			{{ store.name }}
				    		</div>
	  						<div class="panel-body">
		  						<div class="col-md-12 col-md-5 text-center">
		  							<a href="{% url 'detail' store.id %}">
		  								<img src="{{ store.image.url }}" class="img-responsive store-image">
		  							</a>
		  						</div>
		  						<div class="col-xs-12 col-md-7">
		  							{% if store.access %}
										<div class="panel panel-default panel-clinic-store">
										<div class="panel-body">
											{{ store.access }} 
										</div>
										</div>
									{% endif %}

									{% if store.comment %}
										<div class="panel panel-default panel-clinic-store">
										<div class="panel-body">
											{{ store.comment }} 
										</div>
										</div>
									{% endif %}

									<div class="">
										<div class="col-xs-8 well well-white well-no-radius store-phone">
											<span class="">
												<a href="tel:{{ store.phone }} ">
													<i class="glyphicon glyphicon-earphone"></i> {{ store.phone }}
												</a>
											</span>
										</div>
		  								<div class="col-xs-4 well well-white well-no-border store-select">
		  									<span class="">
		  										<a href="{% url 'detail' store.id %}" class="btn btn-default btn-lg btn-block btn-clinic-select" title="{{ _('Phone') }}">
		  											{{ _('Reservation') }}
		  										</a>
		  									</span>
		  								</div>
		  							</div>
		  						</div>
	  						</div>
	  					</div>
				    {% endfor %}
				    </ul>
				{% else %}
					<div class="panel panel-default panel-clinic panel-nostore">
				    	<div class="panel-body text-center">
			   				 <h4>{{ _('No store are available') }}</h4>
			   			</div>
			   		</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}