{% extends "home/_base.html" %}
{% load static i18n clinic_extras %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
	{{ filter.form.media.js }}
{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	{{ filter.form.media.css }}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
			<div class="panel panel-default panel-clinic">
				<div class="panel-heading text-left">
					<i class="glyphicon glyphicon-search"></i>
					{{ _('Store finder: ') }}
					<span class="helper-text">{{ _('please select the regional or the nearest station') }}</span>
				</div>
				<div class="panel-body">
					<form action="" method="get" class="form-horizontal col-md-8 col-md-offset-2">
						{% for field in filter.form %}
						    <div class="form-group">
						        <span class="text-danger">{{ field.errors }}</span>
						        <label class="col-sm-4 control-label text-right" style="margin-bottom:5px">
						        	{% trans field.label %}
						        </label>
						        <div class="col-sm-8">
						        	{% with input_field=field|addcss:"form-control" %}
						        		{{input_field}}
						        	{% endwith %}
						        </div>
						    </div>
						{% endfor %}
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-8">
									<button type="submit" class="btn btn-default">
										{{ _('Search') }}
									</button>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
			<div class="store-list">
				{% if filter %} 
				    {% for store in filter %}
				    	<div class="panel panel-default panel-clinic">
				    		<div class="panel-heading store-heading text-left">
				    			{{ store.name }}
				    		</div>
	  						<div class="panel-body">
		  						<div class="col-md-12 col-md-5 text-center">
		  							<a href="{% url 'detail' store.id %}">
		  								<img src="{{ store.image.url }}" class="img-responsive store-image">
		  							</a>
		  						</div>
		  						<div class="col-xs-12 col-md-7">
		  							{% if store.access %}
										<div class="panel panel-default panel-clinic-store">
										<div class="panel-body">
											{{ store.access }} 
										</div>
										</div>
									{% endif %}

									{% if store.comment %}
										<div class="panel panel-default panel-clinic-store">
										<div class="panel-body">
											{{ store.comment }} 
										</div>
										</div>
									{% endif %}

									{% if store.region and store.nearest_station %}
										<div class="panel panel-default panel-clinic-address">
										<div class="panel-body text-center text-success">
											{{ store.region }} ・ {{ store.nearest_station }}
										</div>
										</div>
									{% endif %}

									<div class="">
										<a href="tel:{{ store.phone }} ">
											<div class="col-xs-8 well well-white well-no-radius store-phone">
												<span class="">
													<i class="glyphicon glyphicon-earphone"></i> {{ store.phone }}
												</span>
											</div>
										</a>
		  								<div class="col-xs-4 well well-white well-no-border store-select">
		  									<span class="">
		  										<a href="{% url 'detail' store.id %}" class="btn btn-default btn-lg btn-block btn-clinic-select" title="{{ _('Phone') }}">
		  											{{ _('Reservation') }}
		  										</a>
		  									</span>
		  								</div>
		  							</div>
		  						</div>
	  						</div>
	  					</div>
				    {% endfor %}

				    <nav class="text-center">
					  <ul class="pagination clinic-pagination">
						{% if paging.has_previous %}
							<li>
								<a href="?page={{ paging.previous_page_number }}">
									<span aria-hidden="true">
										<i class="glyphicon glyphicon-triangle-left"></i>
										{{ _('Prev 20 lines') }}
									</span>
								</a>
							</li>
						{% endif %}
						
						{% if paging.paginator.num_pages > 1 %}	
							{% for page in paging.paginator.page_range %}
								<li class="{% if paging.number == page %}active{% endif %}">
									<a href="?page={{ page }}">
										{{ page }}
										{% if paging.number == page  %}
											<span class="sr-only">(current)</span></a>
										{% endif %}
									</a>
								</li>
							{% endfor %}
						{% endif %}

						{% if paging.has_next %}
							<li>
								<a href="?page={{ paging.next_page_number }}">
									<span aria-hidden="true">
										{{ _('Next 20 lines') }}
										<i class="glyphicon glyphicon-triangle-right"></i>
									</span>
								</a>
							</li>
						{% endif %}
					</nav>

				{% else %}
					<div class="panel panel-default panel-clinic panel-nostore">
				    	<div class="panel-body text-center">
			   				 <h4>{{ _('No store are available') }}</h4>
			   			</div>
			   		</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}