{% extends "home/_base.html" %}
{% load static %}

<!-- Draft -->

{% block content %}
	<div class="row">
		<form action="" method="get">
			<table class="table">
				<!-- See: https://docs.djangoproject.com/en/1.9/topics/forms/ -->
				{{ filter.form.as_table }}
				<tr>
					<td></td>
					<td><button type="submit" class="btn">submit</button></td>
				</tr>
			</table>
			
		</form>
	</div>
	<div class="row">
		<div class="store-list">
			{% if filter %} 
			    {% for store in filter %}
			    	<div class="panel panel-default">
			    		<div class="panel-heading">
			    			{{ store.name }}
			    		</div>
  						<div class="panel-body">
	  						<div class="col-md-12 col-md-5">
	  							<a href="{% url 'detail' store.id %}">
	  								<img src="{{ store.image.url }}" class="img-responsive">
	  							</a>
	  						</div>
	  						<div class="col-xs-12 col-md-7">
	  							{{ store.access }} <hr />
	  							{{ store.comment }} <hr />
	  							{{ store.phone }} 
	  							<a href="{% url 'detail' store.id %}" class="btn btn-primary">select</a>
	  							<hr />
	  						</div>
  						</div>
  					</div>
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>No store are available.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}