{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}

{% block extrastyle %}
<script type="text/javascript">window.location='/admin/store';</script>
<style type="text/css">#content-main { display: none;  }</style>
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}<!-- 
<ul class="breadcrumb">
<li>{% trans 'Home' %}</li>
</ul> -->
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content-navbar-collapse %}
{% endblock %}

{% block object-tools %}
{% endblock %}

{% block content %}loading...{% endblock %}

{% block content2 %}
<div class="row">
    <div id="content-main" class="col-sm-12">

        <div class="tabbable">
            {% for app in app_list %}
                {% include "admin/bootstrapped_extra/app_name.html" %}
                {% render_app_description app %}
                <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}" class="table clinic-admin-table table-bordered">
                {% for model in app.models %}
                    <tr>
                        <th scope="row">
                            {% if model.admin_url %}
                            <a href="{{ model.admin_url }}">{{ model.name }}</a>
                            {% else %}
                            {{ model.name }}
                            {% endif %}

                            {% if model.add_url or model.admin_url%}
                            <div class="pull-right">
                                {% if model.add_url %}
                                <a href="{{ model.add_url }}" class="btn btn-xs addlink"><span class="glyphicon glyphicon-plus"></span>
                                {% trans 'Add' %}</a>
                                {% endif %}
                                {% if model.admin_url %}
                                <a href="{{ model.admin_url }}" class="btn btn-xs changelink"><span class="glyphicon glyphicon-edit"></span>
                                {% trans 'Change' %}</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %}
                </table>
            {% empty %}
                <p>{% trans "You don't have permission to edit anything." %}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
