
/* Admin */
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

    
.dashboard .clinic-navbar-admin {
}
.dashboard .clinic-navbar-admin a {
    color: #000;
}
 
.dashboard .header {
    padding: 0;
}

.dashboard .app-name {
    font-size: 19px;
}
.dashboard .app-name a {
    color: #DD1746;
    text-decoration: none;
}
#content-main {
    clear: both;
    margin-left: 15px;
}
.dashboard .clinic-admin-table {
    
}
.dashboard .clinic-admin-table a {
    color: #1F1F1F;
    font-weight: 300;
}

.file-upload {
    margin-left: 0 !important;
}

.model-store.change-form .input-group.date {
    max-width: 140px;
}