/* header */
.header {
    padding: 25px 0;
}

.header h3.text-muted {
    font-size: 3rem;
}

.header h3 a {
    text-decoration: none;
    color: #6B6B6B;
}

/* Panel */
.panel-clinic, .panel-clinic-store {
    border-radius: none;
}

.panel-clinic-store {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}

.well-white {
    background-color: #fff !important;
    box-shadow: none;
}

.well-no-radius {
    border-radius: 0;
}

.well-no-border {
    border: 0;
}

.store-phone {
    padding: 19px;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

.store-phone a {
    text-decoration: none;
    font-weight: 700;
    color: #333;
}

.store-select {
    padding-top: 0 !important;
    padding-right: 0;
}

.store-select .btn {
    border-radius: 0;
    height: 60px;
    line-height: 38px;
}

.store-image {
    max-height: 350px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-clinic-select:hover {
    /*background-color: #FFF;*/
    border-width: 2px;
}

.panel-clinic .panel-heading {
    background: #fff5ee;
    font-size: 1.75rem;
    color: #DD1746;
    font-weight: 700;
}
.panel-clinic .panel-heading.store-heading {
    font-size: 2rem;
}

.panel-clinic .panel-heading .helper-text {
    font-size: 0.8em;
    color: #333;
    font-weight: 300;
}

/* Admin box */
.admin-nav {
    margin-top: 25px;
    padding: 30px 0px;
}

.btn-no-80px {
    width: 80px;
}

.btn-no-radius {
    border-radius: 0;
}

.btn-clinic {
    border-radius: 0;
}
.btn-clinic:hover {
    border-width: 1px;
    background-color: #FFF;
}

/* Footer */
.footer {
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #E6E6E6;
    background: #F7F7F7;
    font-size: 1.1rem;
}

/* 予約日時選択 */
#reserve-table {
    border-collapse: collapse;
}

#reserve-table thead tr{
    background-color: #fff5ee;
}

#reserve-table td , #reserve-table th{
    padding: 6px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #666;
}

#reserve-table td {
    font-size: 16px;
}

#reserve-table td.date-selected {
    background-color: #e3e2e0;
}


#reserve-table td.date-available {
    cursor: pointer;
}

#reserve-table td.date-available:hover {
    background-color: #e3e2e0;
}

.color-saturday {
    color: #1e90ff;
}

.color-holiday {
    color: red;
}


/* 予約内容入力 */

#reserve-form table {
    border-collapse: collapse;
}

#reserve-form table td , #reserve-form table th {
    vertical-align: middle;
}

#reserve-form table th{
    background-color: #fff5ee;
}

#reserve-form legend {
    border: 0;
}

.form-group {
    margin-bottom: 0px;
}

.form-horizontal .control-label {
    text-align: left;
}

.clear-xs:after{
    clear: both;
}

@media(max-width:767px){
    #reserve-form table td , #reserve-form table th {
        display: block;
        border: 0;
    }
    #reserve-table td, #reserve-table th {
      font-size: 12px;
    }
}

@media(min-width:768px){
    #reserve-form table th {
        width: 130px;
    }
}

.mb20 {
    margin-bottom: 20px;
}

.btn-lightblue {
    background-color: #b0c4de;
    border-color: #333;
}

#btn-submit {
    margin-right: 40px;
}

.navigate-week-btn {
  cursor: pointer;
}

.btn-clinic-primary {
  background-color: #fff5ee;
}

.btn-clinic-primary:hover {
  background-color: #fff5ee;
}

.btn-clinic-primary:focus {
  background-color: #fff5ee;
}

.select2-container--default {
  width: 100% !important;
}

.clinic-search-button {
    margin-top: 10px;
}

.padding-right-8 {
    padding-right: 8px !important;
}
@media only screen and (max-width : 480px) {
    .store-select .btn {
        border-radius: 0;
        height: 60px;
        line-height: 38px;
        font-size: 13px;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;

    }
}
@media only screen and (max-width : 360px) {
    .store-phone {
        width: 100%;
    }
    .store-select {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
}

/* Admin */
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.dashboard .clinic-navbar-admin {
}

.dashboard .clinic-navbar-admin a {
    color: #000;
}

.dashboard .header {
    padding: 0;
}

.dashboard .app-name {
    font-size: 19px;
}
.dashboard .app-name a {
    color: #DD1746;
    text-decoration: none;
}
#content-main {
    clear: both;
    margin-left: 15px;
}
.dashboard .clinic-admin-table {

}
.dashboard .clinic-admin-table a {
    color: #1F1F1F;
    font-weight: 300;
}

.file-upload {
    margin-left: 0 !important;
}

.model-store.change-form .input-group.date {
    max-width: 100%;
}
.model-store.change-form .fields .row {
    margin-bottom: 20px;
}
fieldset.module h2 {
    color: #DD1746;
    text-decoration: none;
    font-size: 23px;
}


span.clinic_hack_first_column select {
    border: 0;
    border-width: 0;
    background: transparent;
    outline: none;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.store-display-False {
  opacity: 0.3;
}


.admin-table-form {
    margin-top: 30px;
}

.admin-table-form .label-tag {
    background-color: #FFF5EE;
    text-align: right;
    vertical-align: middle;
}
.admin-table-form .label-tag label {
    font-size: 14px !important;
}

.wide .admin-table-form label {
    width: 100% !important;
    float: none !important;
}

.clinic-submit-row {
    text-align: center;
}

td.field-date.text-center {
    width: 180px;
}

.table thead th {
    text-align: center;
}

select {
    font-size: initial;
}

ul.errorlist {
    margin-left: 0 !important;
    padding-left: 0 !important;
    color: #a94442 !important;
    list-style: none !important;
    font-weight: 700 !important;
}

#store_form .errornote {display: none}
#store_form {
    margin-top: 20px;
}
#store_form tr.form-row.errors td {
    border-color: #F43636;
    border-width: 2px;
}
#store_form tr.form-row.errors td:nth-child(1) {
    border-right-color: #ddd;
    border-right-width: 1px;
}#store_form tr.form-row.errors td:nth-child(2) {
    border-left-width: 1px;
    border-left-color: #ddd;
}

.text-red {
    color: red;
}
.text-strong {
    font-weight: 700;
}